#canvas{
    background-color: red;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    width: 600px;
    height: 500px;
    margin: 50px auto 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button{
    text-align: center;
    width: 200px;
    height: 25px;
    margin: 50px auto 50px;
    color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    border-radius: 5px;
    border-style: outset;
    display: block;
}